<!DOCTYPE html>
<html>

<head>
    <title>Online Retail Shop</title>
    <!-- Css files -->
    <!-- Lib Css Files -->
    <link rel="stylesheet" type="text/css" href="lib/reset.css">
    <link rel="stylesheet" href="lib/font-awesome.min.css">
    <!-- Project Css Files -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Javascipt Files -->
    <!-- Lib Js files -->
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <!-- Project Js Files -->
    <script type="text/javascript" src="js/app.js"></script>
</head>

<body ng-app="onlineRetail">
    <div class="main-container" ng-controller="addToCartCtrl" ng-cloak>
        <div class="heading-primary">
            <h1>Buy Grocery ({{items.length}} Items)</h1>
        </div>
        <section class="left-panel">
            <li class="card" ng-repeat="item in items track by item.id">
                <img ng-src="{{item.product_img}}">
                <div class="content">
                    <p class="brand-name">{{item.brand_name}}</p>
                    <p class="product-name">{{item.product_name}} - {{item.packing_detail}}</p>
                </div>
                <h1 class="price">{{item.price | currency : "₹ " : 2}}</h1>
                <div class="button-group" ng-if="item.quantity">
                    <button ng-click="subtractFromCart(item)"><span class="fa fa-minus"></span></button>
                    <button>{{item.quantity}} in Cart</button>
                    <button ng-click="addToCart(item)"><span class="fa fa-plus"></span></button>
                </div>
                <button class="button" ng-click="addToCart(item)" ng-if="!item.quantity">
                    Add to cart
                </button>
            </li>
        </section>
        <aside class="right-panel" ng-if="finalList.length > 0">
            <div class="kart">
                <table class="table-summary text-center">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <h3 class="heading-secondary">Your Cart Summary</h3>
                            </th>
                        </tr>
                        <tr>
                            <th>Items in Cart</th>
                            <th>Total Rs</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{finalList.length}}</td>
                            <td>{{totalPrice | currency : "₹ " : 2}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-detail">
                    <thead>
                        <tr class="text-left">
                            <th>Item</th>
                            <th class="text-center">Quantity</th>
                            <th>Total Rs</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in finalList">
                            <td>{{item.product_name}}</td>
                            <td class="text-center">{{item.quantity}}</td>
                            <td>{{(item.price * item.quantity) | currency : "₹ " : 2}}</td>
                            <td>
                                <span class="fa fa-times remove" ng-click="removeFullProduct(item)"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </aside>
    </div>
</body>

</html>
